/Generator/obj/Debug/net6.0/*.cache
/netDxf/obj/Debug/net5.0/*.BuildWithSkipAnalyzers
*.BuildWithSkipAnalyzers
*.cache
*.CopyComplete
/Generator/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Generator/obj/Debug/net6.0/Generator.AssemblyInfo.cs
/Generator/obj/Debug/net6.0/Generator.GlobalUsings.g.cs
/netDxf/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/netDxf/obj/Debug/net5.0/netDxf.AssemblyInfo.cs
/netDxf/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/netDxf/obj/Debug/net6.0/netDxf.AssemblyInfo.cs
/netDxf/obj/Debug/net48/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/netDxf/obj/Debug/net48/netDxf.AssemblyInfo.cs
/netDxf/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/netDxf/obj/Debug/netcoreapp3.1/netDxf.AssemblyInfo.cs
/netDxf/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
/netDxf/obj/Debug/netstandard2.1/netDxf.AssemblyInfo.cs
/Point/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Point/obj/Debug/net6.0/Point.AssemblyInfo.cs
/Point/obj/Debug/net6.0/Point.GlobalUsings.g.cs
/TestDxfDocument/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/TestDxfDocument/obj/Debug/net6.0/TestDxfDocument.AssemblyInfo.cs
/Generator/bin/Debug/net6.0/Generator.dll
/Generator/bin/Debug/net6.0/netDxf.dll
/Generator/bin/Debug/net6.0/Point.dll
/Generator/obj/Debug/net6.0/Generator.dll
/Generator/obj/Debug/net6.0/ref/Generator.dll
/Generator/obj/Debug/net6.0/refint/Generator.dll
/netDxf/bin/Debug/net5.0/netDxf.dll
/netDxf/bin/Debug/net6.0/netDxf.dll
/netDxf/bin/Debug/net48/netDxf.dll
/netDxf/bin/Debug/netcoreapp3.1/netDxf.dll
/netDxf/bin/Debug/netstandard2.1/netDxf.dll
/netDxf/obj/Debug/net5.0/netDxf.dll
/netDxf/obj/Debug/net5.0/ref/netDxf.dll
/netDxf/obj/Debug/net5.0/refint/netDxf.dll
/netDxf/obj/Debug/net6.0/netDxf.dll
/netDxf/obj/Debug/net6.0/ref/netDxf.dll
/netDxf/obj/Debug/net6.0/refint/netDxf.dll
/netDxf/obj/Debug/net48/netDxf.dll
/netDxf/obj/Debug/netcoreapp3.1/netDxf.dll
/netDxf/obj/Debug/netstandard2.1/netDxf.dll
/Point/bin/Debug/net6.0/Point.dll
/Point/obj/Debug/net6.0/Point.dll
/Point/obj/Debug/net6.0/ref/Point.dll
/Point/obj/Debug/net6.0/refint/Point.dll
/TestDxfDocument/bin/Debug/net6.0/Generator.dll
/TestDxfDocument/bin/Debug/net6.0/netDxf.dll
/TestDxfDocument/bin/Debug/net6.0/Point.dll
/TestDxfDocument/bin/Debug/net6.0/TestDxfDocument.dll
/TestDxfDocument/obj/Debug/net6.0/ref/TestDxfDocument.dll
/TestDxfDocument/obj/Debug/net6.0/refint/TestDxfDocument.dll
/TestDxfDocument/obj/Debug/net6.0/TestDxfDocument.dll
/Generator/obj/Debug/net6.0/Generator.GeneratedMSBuildEditorConfig.editorconfig
/netDxf/obj/Debug/net5.0/netDxf.GeneratedMSBuildEditorConfig.editorconfig
/netDxf/obj/Debug/net6.0/netDxf.GeneratedMSBuildEditorConfig.editorconfig
/netDxf/obj/Debug/net48/netDxf.GeneratedMSBuildEditorConfig.editorconfig
/netDxf/obj/Debug/netcoreapp3.1/netDxf.GeneratedMSBuildEditorConfig.editorconfig
/netDxf/obj/Debug/netstandard2.1/netDxf.GeneratedMSBuildEditorConfig.editorconfig
/Point/obj/Debug/net6.0/Point.GeneratedMSBuildEditorConfig.editorconfig
/TestDxfDocument/obj/Debug/net6.0/TestDxfDocument.GeneratedMSBuildEditorConfig.editorconfig
/TestDxfDocument/bin/Debug/net6.0/TestDxfDocument.exe
/TestDxfDocument/obj/Debug/net6.0/apphost.exe
/Generator/bin/Debug/net6.0/Generator.deps.json
/Generator/obj/Generator.csproj.nuget.dgspec.json
/Generator/obj/project.assets.json
/netDxf/bin/Debug/net5.0/netDxf.deps.json
/netDxf/bin/Debug/net6.0/netDxf.deps.json
/netDxf/bin/Debug/netcoreapp3.1/netDxf.deps.json
/netDxf/bin/Debug/netstandard2.1/netDxf.deps.json
/netDxf/obj/netDxf.csproj.nuget.dgspec.json
/netDxf/obj/project.assets.json
/Point/bin/Debug/net6.0/Point.deps.json
/Point/obj/Point.csproj.nuget.dgspec.json
/Point/obj/project.assets.json
/TestDxfDocument/bin/Debug/net6.0/TestDxfDocument.deps.json
/TestDxfDocument/bin/Debug/net6.0/TestDxfDocument.runtimeconfig.json
/TestDxfDocument/obj/project.assets.json
/TestDxfDocument/obj/TestDxfDocument.csproj.nuget.dgspec.json
/.vs/netDxf/FileContentIndex/read.lock
/Generator/bin/Debug/net6.0/Generator.pdb
/Generator/bin/Debug/net6.0/netDxf.pdb
/Generator/bin/Debug/net6.0/Point.pdb
/Generator/obj/Debug/net6.0/Generator.pdb
/netDxf/bin/Debug/net5.0/netDxf.pdb
/netDxf/bin/Debug/net6.0/netDxf.pdb
/netDxf/bin/Debug/net48/netDxf.pdb
/netDxf/bin/Debug/netcoreapp3.1/netDxf.pdb
/netDxf/bin/Debug/netstandard2.1/netDxf.pdb
/netDxf/obj/Debug/net5.0/netDxf.pdb
/netDxf/obj/Debug/net6.0/netDxf.pdb
/netDxf/obj/Debug/net48/netDxf.pdb
/netDxf/obj/Debug/netcoreapp3.1/netDxf.pdb
/netDxf/obj/Debug/netstandard2.1/netDxf.pdb
/Point/bin/Debug/net6.0/Point.pdb
/Point/obj/Debug/net6.0/Point.pdb
/TestDxfDocument/bin/Debug/net6.0/Generator.pdb
/TestDxfDocument/bin/Debug/net6.0/netDxf.pdb
/TestDxfDocument/bin/Debug/net6.0/Point.pdb
/TestDxfDocument/bin/Debug/net6.0/TestDxfDocument.pdb
/TestDxfDocument/obj/Debug/net6.0/TestDxfDocument.pdb
/Generator/obj/Generator.csproj.nuget.g.props
/netDxf/obj/netDxf.csproj.nuget.g.props
/Point/obj/Point.csproj.nuget.g.props
/TestDxfDocument/obj/TestDxfDocument.csproj.nuget.g.props
/TestDxfDocument/obj/Debug/net6.0/TestDxfDocument.Properties.Resources.resources
/.vs/netDxf/v17/.suo
/Generator/obj/Generator.csproj.nuget.g.targets
/netDxf/obj/netDxf.csproj.nuget.g.targets
/Point/obj/Point.csproj.nuget.g.targets
/TestDxfDocument/obj/TestDxfDocument.csproj.nuget.g.targets
/Generator/obj/Debug/net6.0/Generator.csproj.FileListAbsolute.txt
/netDxf/obj/Debug/net5.0/netDxf.csproj.FileListAbsolute.txt
/netDxf/obj/Debug/net6.0/netDxf.csproj.FileListAbsolute.txt
/netDxf/obj/Debug/net48/netDxf.csproj.FileListAbsolute.txt
/netDxf/obj/Debug/netcoreapp3.1/netDxf.csproj.FileListAbsolute.txt
/netDxf/obj/Debug/netstandard2.1/netDxf.csproj.FileListAbsolute.txt
/Point/obj/Debug/net6.0/Point.csproj.FileListAbsolute.txt
/TestDxfDocument/obj/Debug/net6.0/TestDxfDocument.csproj.FileListAbsolute.txt
/.vs/netDxf/FileContentIndex/66a21a2e-5d80-4114-99ab-9c1bb82fc8f6.vsidx
/Generator/bin/Debug/net6.0/netDxf.xml
/netDxf/bin/Debug/net5.0/netDxf.xml
/netDxf/bin/Debug/net6.0/netDxf.xml
/netDxf/bin/Debug/net48/netDxf.xml
/netDxf/bin/Debug/netcoreapp3.1/netDxf.xml
/netDxf/bin/Debug/netstandard2.1/netDxf.xml
/TestDxfDocument/bin/Debug/net6.0/netDxf.xml
*.1
*.v2
